@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  33% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.ripple-container {
  position: relative;
  overflow: hidden;
}

.ripple-container-unbounded {
  overflow: visible;
}

.ripple {
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
  transform-origin: center center;
  transform: scale(0);
  animation: ripple var(--duration) ease;
}
